.all
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.click
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color:red;
  background-color: white;
  border: red 2px solid ;
  border-radius: 12px;
  padding: 10px 20px 10px 20px ; 
  cursor: pointer;
  transition: ease-out 0.5s;
}
.click:hover
{
  background-color: red;
  color: white;
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* light overlay */
  z-index: 9999;
}
.loading
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
}
.my
{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
}
.inandbtn
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.in
{
  padding:20px 50px 20px 30px;
  border: solid 1px grey;
  border-radius: 50px;
  outline: none;
}
.btn
{
  background-color: green;
   border: solid 1px green;
   padding: 20px 20px 20px 20px;
   border-radius: 10px;
   color: white;
   cursor: pointer;
}
.btn:hover
{
  background-color: white;
  color: green;
  transition: ease-out 0.3s;
}
.todos
{
  display: flex;
  flex-direction: row;
  gap: 160px;
}
.x
{
  color: red;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.mission
{
  cursor: pointer;
}